 @keyframes variable1 {
         /* 0%{background-image: url("image1.jpg");

        } */
        0%{background-image: url("../images/image1.jpg"),url("../images/image3.jpg");

        }
        /* 40%{background-image: url("image3.jpg");
        
        } */
        15%{
        background-image: url("../images/image3.jpg"),url("../images/image6.jpg");
        } 
        /* 60%{
        background-image: url("image4.jpg");
        }  */
        30%{
        background-image: url("../images/image6.jpg"), url("../images/image8.jpg");
        }
        45%{
        background-image: url("../images/image8.jpg"), url("../images/image9.jpg");
        } 
        60%{
        background-image: url("../images/image9.jpg"), url("../images/image10.jpg");
        }
        /* 60%{
        background-image: url("../images/image10.jpg"), url("../images/image11.jpg");
        } */
        /* 72%{
        background-image: url("../images/image11.jpg"), url("../images/image12.jpg");
        } */
        75%{
        background-image: url("../images/image12.jpg"), url("../images/image13.jpg");
        }
        90%{
        background-image: url("../images/image13.jpg"), url("../images/image14.jpg");
        }
        100%{
        background-image: url("../images/image14.jpg");
        }   
      }
      .addimg{
         
          /* background-image: url(rise.jpg) ;
          background-size: cover;
          background-position-x: 500px 150em;
          background-repeat: no-repeat;
          width: 100%; */

          color:black;
          animation-name: variable1;
          animation-duration: 60s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-delay: 0s;
          background-size: cover;
          animation-timing-function: linear;
          animation-fill-mode: backwards;
          background-size: cover;
          background-repeat: no-repeat;
          height: 100%;
    }
    .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .carousel-inner::after {
    display: block;
    clear: both;
    content: "";
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }
